.header {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 25px;
    &__img {
        width: 35%
    }
    &__nav-items {
        font-size: 14px;
        font-weight: bold;
        margin-right: 53px;
    }
}

a {
    color: #ff6060;
    margin-left: 15px;
}

