.header {
    
    width: 335px;
    height: 47px;
    
    &__img {
        
        
        width: 35%
    }
    &__nav {
        
        
    }
    &__nav-items {
        display: flex;
        justify-content: space-evenly;
    }
}

a {
    color: #ff6060;
}

