.banner {
    display: flex;
    align-items: center;
    background: black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        width: 94.5%;
    }
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 96.5%;
    }
    &__img {
        border-radius: 10px 10px 10px 10px;
        object-fit: cover;
        overflow: hidden;
        opacity: 70%;
        @media screen and (min-width: map-get($breakpoint, tablette)) {
            width: 100%;
            height: 150px;
        }
        @media screen and (min-width: map-get($breakpoint, desktop)) {
            height: 223px;
            width: 100%;
        }       
    }
}

.about {
    display: flex;
    align-items: center;
    background: black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        margin-top: 25px;
        border-radius: 20px 20px 20px 20px;
    }
    &__img {
        border-radius: 10px 10px 10px 10px;
        object-fit: cover;
        overflow: hidden;
        opacity: 70%;
        width: 100%;
        height: 260px;
        @media screen and (min-width: map-get($breakpoint, tablette)) {
            display: none;
        }
        @media screen and (min-width: map-get($breakpoint, desktop)) {
            display: none;
        } 
    }
    &__img2 {
        display: none;
        @media screen and (min-width: map-get($breakpoint, tablette)) {
            display: inherit;
            width: 100%;
            border-radius: 10px;
        }
        @media screen and (min-width: map-get($breakpoint, desktop)) {
            display: inherit;
            border-radius: 20px 20px 20px 20px;
            width: 100%;
            height: 223px;
        }     
    }
}










