.button {
    background: $color-primary;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 34px;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    margin-top: 30px;
    margin-bottom: 22px;
    border: none;
    font-size: 13px;
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        font-size: 15px;
    }
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        font-size: 17px;
        padding: 15px;
    }
    &__img {
        width: 5%;
        @media screen and (min-width: map-get($breakpoint, tablette)) {
            width: 4%;
            margin-right: 5px;
        }   
    }
    &__content {
        background-color: #F6F6F6;
        height: 150px;
        border-radius: 5px;
        margin-top: -22px;
        padding: 10px;
        @media screen and (min-width: map-get($breakpoint, tablette)) { 
            font-size: 17px;
            line-height: 26px;
        }
        @media screen and (min-width: map-get($breakpoint, desktop)) {
            font-size: 20px;
            line-height: 26px;
        }
    }
}

.collapse-logement {
    margin-left: 25px;
    margin-top: 45px;
    margin-right: 25px;
    &__button {
        @media screen and (min-width: map-get($breakpoint, tablette)) {
            width: 45%;
        }
    }
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        display: flex;
        justify-content: space-between;
    }
}

