.carousel {
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    img {
        height: 100%;
        width: 92%;
        position: relative;
        border-radius: 10px;
    }
    &__compteimg {
        color: black;
    }
}

