.tag {
    display: flex;
    align-items: center;
    margin-left: 25px;
    &__name{
    background-color: #FF6060;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    margin-right: 14px;
    text-align: center;
    width: 25%;
    }
}
