@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

body {
    font-family: 'Montserrat';
    font-weight: 500;
}

.header__nav-items {
    font-size: 16px;
    
}

.banner p {
    color: white;
    position: absolute;
    left: 12%;
    right: 31%;
    font-size: 24px;
    line-height: 24px;

}

.card p {
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.button__content {
    color: #FF6060;
    line-height: 20px;
    font-size: 14px;
}

.error p {
    color: #FF6060;
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-size: 25px;
}

.footer h1 {
    font-size: 13px;
}