@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

body {
    font-family: 'Montserrat';
    font-weight: 500;
}

.header__nav-items {
    font-size: 16px;
    
}

.banner p {
    color: white;
    position: absolute;
    left: 12%;
    right: 31%;
    font-size: 22px;
    line-height: 24px;
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        font-size: 30px;
        left: 170px;
        right: 0;
    }
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        left: 230px;
        font-size: 34px;
        right: 0;
    }
}

.card p {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    margin-top: -62px;
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        font-size: 18px;
    }
}

.button__content {
    color: $color-primary;
    line-height: 20px;
    font-size: 14px;
}

.button__content p {
    font-size: 18px;
}

.error p {
    color: $color-primary;
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-size: 25px;
}

.footer h3 {
    font-size: 13px;
    color: white;
    margin-left: 0;
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        font-size: 17px;
    }
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        font-size: 17px;
    }   
}

h1 {
    color: $color-primary;
    font-size: 20px;
    margin-left: 25px;
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        font-size: 36px;
        margin-bottom: 0;
    }
}

h2 {
    color: $color-primary;
    font-size: 14px;
    margin-left: 25px;
    margin-bottom: 0;
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        font-size: 18px;
    }
}